
body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: beige;

}

.logo {
    margin: 5px;
    margin-left: 10%;
    margin-top: 12%;
    width: 130px;
    height: 80px;

}

.nav-items>ul {
    display: flex;
    list-style-type: none;
    font-size: 24px;
}

.nav-items>ul>li {
    padding: 10px;
    margin: 10px;

}

.res-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2%;

}

.res-card {
    margin: 2%;
    padding: 5px;

    width: 330px;
    height: 460px;

}

.res-card:hover {
    cursor: pointer;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5%;

}

.search {
    padding: 10px;
}

.RestaurantCardImg {
    width: 300px;
    height: 250px;
    margin: 5%;
}

.filter{
    display: flex;
}

.filter-btn{
    margin: 1%;
    cursor: pointer;
    height: 28px;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out, border-radius 300ms ease-in-out;
    border: none;
    padding: 0 15px;
    
    
}
.filter-btn:hover {
    box-shadow: 0 0 40px 40px  rgb(236, 115, 115) inset;
    border-radius: 10px; /* Adjust the radius value as needed */
}

.search{
    margin-top: 5px;
}

.search-btn {
    box-shadow: rgb(219, 219, 219);
    cursor: pointer;
    height: 23px;
    border: none;
    padding: 0 15px;
    border-radius: 6px;
    transition: box-shadow 300ms ease-in-out; /* Added transition for smooth effect */
}

.search-btn:hover {
    box-shadow: 0 0 10px 0  rgb(236, 115, 115) ; /* Adjust the shadow values as needed */
}



.shimmer-card{
    width: 200px;
    height: 400px;


}

.login {
    margin-top:4%;
    margin-right: 13px;
    height: 28px;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out, border-radius 300ms ease-in-out;
    border: none;
    padding: 0 15px;
    cursor: pointer;
}

.login:hover {
    box-shadow: 0 0 40px 40px #EF4F5F inset;
    border-radius: 10px; /* Adjust the radius value as needed */
}



/* User Cards Starts */

.user-card{
    padding: 10px;
    border: 1px solid black;
}


/* User Cards Ends */




/* Shimmer cards starts */

.shimmer-container{
    display: flex;
    margin: 5%;
}

.card { 
    
    position: relative;
    -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    background-color: #FFF;
    border-radius: 6px;
    height: 500px;
    overflow: hidden;
    width: 350px;
     margin:3%;
  
  .shimmerBG {
    animation-duration: 2.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    background: #ddd;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 1200px 100%;
}



    .media {
    height: 200px;
}

.p-32 {
    padding: 32px;
}

.title-line {
    height: 24px;
    width: 100%;
    margin-bottom: 12px;
    border-radius: 20px;
}

.content-line {
    height: 8px;
    width: 100%;
    margin-bottom: 16px;
    border-radius: 8px;
}
  
  .end {
      width: 40%;
    }

}


.m-t-24 {
    margin-top: 24px;
}

/* Shimmer cards endss */






/* 
@media only screen and (max-width: 570px) {
    .header {
        flex-direction: column; 
        align-items: center; 
    }

    .logo {
        margin: 5px;
        margin-top: 12%;
        width: 100%; 
        height: auto; 
    }

    .nav-items > ul {
        flex-direction: column;
        text-align: center; 
    }
} */